<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springfourth.db.OracleMapper"><!-- ↓파라미터(Employees emp)의 타입을 import -->
	<select id="isEmployee" parameterType="com.springfourth.beans.Employees" resultType="string"> <!-- id는 interface에서 만든 메소드 이름, resultType=string은 소문자로 써야함, -->
		SELECT EL_PASSWORD FROM EL WHERE EL_STCODE=#{stCode} AND EL_CODE=#{elCode}
	</select>
	<insert id="insAccessHistory" parameterType="com.springfourth.beans.Employees">
		INSERT INTO AH(AH_ELSTCODE, AH_ELCODE, AH_TIME, AH_IP, AH_TYPE) 
		VALUES(#{stCode},#{elCode},DEFAULT,#{publicIp},1)
	</insert>
	<select id="getAccessInfo" parameterType="com.springfourth.beans.Employees" resultType="com.springfourth.beans.Employees">
	 	SELECT * FROM <!-- NEWDBA1JO. -->ACCESSINFO2 
		WHERE STCODE=#{stCode} AND ELCODE=#{elCode}
	</select>
	<insert id="insAccessOut" parameterType="com.springfourth.beans.Employees">
		INSERT INTO AH(AH_ELSTCODE, AH_ELCODE, AH_TIME, AH_IP, AH_TYPE) 
		VALUES(#{stCode},#{elCode},DEFAULT,#{publicIp},-1)
	</insert>
	<select id="getEmplist" parameterType="com.springfourth.beans.Employees" resultType="com.springfourth.beans.Employees">
		SELECT EL_STCODE AS STCODE, EL_CODE AS ELCODE, EL_NAME AS ELNAME, EL_LVCODE AS ELLEVEL FROM EL 
		WHERE EL_STCODE='${stCode}' 
	</select>
	<select id="getMMlist" parameterType="com.springfourth.beans.Members" resultType="com.springfourth.beans.Members">
		SELECT MM_CODE AS MMCODE, MM_NAME AS MMNAME FROM MM  
	</select>
	<select id="getMaxEmp" parameterType="com.springfourth.beans.Employees" resultType="string">
		SELECT MAX(EL_CODE) AS MAXEMP FROM EL WHERE EL_STCODE=#{stCode}
	</select>
	<insert id="insEmp" parameterType="com.springfourth.beans.Employees">
		INSERT INTO EL(EL_STCODE,EL_CODE,EL_NAME,EL_PASSWORD,EL_LVCODE) 
		VALUES(#{stCode},#{elCode},#{elName},#{elPassword},#{elLevel})
	</insert>
	
	<!-- ORDER -->
	<select id="getGoodsInfo" parameterType="com.springfourth.beans.Goods" resultType="com.springfourth.beans.Goods">
		SELECT GO_CODE AS GOCODE, GO_NAME AS GONAME, 1 AS GOQTY, GO_PRICE AS GOPRICE, GO_STATUS AS GOSTATUS FROM GO WHERE GO_CODE=#{goCode}
	</select>	
	<insert id="insOrder" parameterType="com.springfourth.beans.Orders">
		INSERT INTO OL(OL_CODE, OL_ELSTCODE, OL_ELCODE,OL_STATUS)
		VALUES(DEFAULT, #{stCode},#{elCode},DEFAULT)
	</insert>
	<select id="getOlCode" parameterType="com.springfourth.beans.Orders" resultType="string">
		SELECT MAX(OL_CODE)  AS OLCODE FROM OL WHERE OL_ELSTCODE=#{stCode} AND OL_ELCODE=#{elCode}
	</select>
	<select id="getGoDiscount" parameterType="com.springfourth.beans.Orders" resultType="com.springfourth.beans.OrderDetails">
		SELECT GO_DISCOUNT AS GODISCOUNT, GO_CODE AS GOCODE FROM GO WHERE GO_CODE IN
		<foreach item="goods" collection="otList" separator="," open="(" close=")">
		#{goods.goCode}
		</foreach>
	</select>
	<insert id="insOrderDetail" parameterType="com.springfourth.beans.OrderDetails">
		INSERT INTO OT(OT_OLCODE, OT_OLELSTCODE, OT_OLELCODE, OT_GOCODE, OT_QTY, OT_DISCOUNT) 
		VALUES(#{olCode},#{stCode},#{elCode},#{goCode},#{goQty},#{goDiscount})		
	</insert>
	<update id="updOrderStatus" parameterType="com.springfourth.beans.Orders">
		UPDATE OL SET OL_STATUS=#{olStatus} WHERE OL_CODE=#{olCode} AND OL_ELSTCODE=#{stCode} AND OL_ELCODE=#{elCode}
	</update>
	
	<!-- PASSWORD -->
	<select id="isMember" parameterType="com.springfourth.beans.Employees" resultType="int">
		SELECT COUNT(*) AS CNT FROM EL WHERE EL_STCODE=#{stCode} AND EL_CODE=#{elCode} AND EL_EMAIL=#{email}
	</select>
	<update id="updPassword" parameterType="com.springfourth.beans.Employees">
		UPDATE EL SET EL_PASSWORD=#{elPassword} WHERE EL_STCODE=#{stCode} AND EL_CODE=#{elCode}
	</update>
	
	<!-- Goods -->
	<select id="getGoList" resultType="com.springfourth.beans.Goods">
		SELECT GO_CODE AS GOCODE, GO_NAME AS GONAME, GO_COST AS GOCOST, GO_PRICE AS GOPRICE, GO_DISCOUNT AS GODISCOUNT, GO_STOCK AS GOSTOCK,GO_STATUS AS GOSTATUS, GO_IMGLOC AS GOIMGLOC FROM GO  
	</select>
	<update id="updGoodsInfo" parameterType="com.springfourth.beans.Goods">
		UPDATE GO SET GO_NAME=#{goName} , GO_COST=#{goCost} ,GO_PRICE=#{goPrice} ,GO_STOCK=#{goStock} , GO_DISCOUNT=#{goDiscount} , GO_STATUS=#{goStatus} , GO_IMGLOC=#{goImgLoc} 
		WHERE GO_CODE=#{goCode}
	</update>
</mapper>